body{
	width:675px;
	margin:auto;
}

h1{
    color: orange;
    text-align: right;
}

p:first-letter {
    font-size: 2em;
    color: red;
}

p{
	padding-bottom: 15px;
}

em{
    background-color: green;
    color: white;
}

#allotment h2 {
    color: orange;
}

#warehouse h2 {
    color: blue;
}

.plants-list ul > li {
    color: black;
	font-weight: bold;
}

.fruits-list, .vegetables-list{
	font-weight:normal;
}

#allotment .fruits-list li {
    color: gray;
}

#allotment .vegetables-list li {
    color: red;
}

#warehouse .fruits-list li {
    color: green;
}

#warehouse .vegetables-list li {
    color: red;
}

.students-table thead{
    color: black;
    font-weight: bold;
    text-align: center;
}

.students-table tbody tr td {
    background-color: green;
    color: white;
	text-align: center;
}

.students-table tbody tr td:first-child {
	background-color:white;
    color: orange;
    font-weight: bold;
    text-align: left;
}