body {
	margin: 0;
}

.wrapper > * {
	margin: 10px;
	padding: 20px;
	background-color: lightgray;
	border-radius: 10px;
	flex: 1;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	min-height: 100vh;
}

.wrapper header,
.wrapper footer {
	flex: 0 1 100vw;
}